.container{
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}

.text{
    display: flex;
    margin: auto;
    width: fit-content;
}

h3{
    display: inline-block;
    width: fit-content;
    margin: auto;
    color:var(--main-color);
}

.arrow_button{
    cursor: pointer;
    fill:var(--main-color);
}

.arrow_button:hover{
  transform:scale(1.2);
  transition: 0.2s;
}
