.container{
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
    padding: 1rem 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.header_container h2{
    text-align: left;
}

.header_container{
    display: flex;
    justify-content: space-between;
}

.header_container .icon{
    margin: auto 0;
}


hr{
    height:0;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
    margin-bottom: 1rem;
}

.not_values{
    text-align: center;
    padding: 1rem 0;
    font-style: italic;
}

.line{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)), 1fr;
    justify-items: center;
    // flex-direction: row;
     margin: 0.5rem 0;

}

.line p{
    margin: 0.3rem auto;
    text-align: left;
}

.strong_word{
    font-weight: bold;
    color: var(--secondary-color);
}

.icon{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    fill: var(--secondary-color);
}

.icon:hover{
  transform:scale(1.1);
  transition: 0.2s;
}

.edit_container{
    // width: 5rem;
    display: flex;
    justify-content: space-evenly;
}

.edition_icon{
    margin:  0.3rem;
}
