.container{
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
    padding: 1rem 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.header_container{
    display: flex;
    margin: auto;
    width: 100%;
}

.word_selector{
  margin: auto;
  width: 70%;
}




.not_values{
    text-align: center;
    padding: 1rem 0;
    font-style: italic;
}

.line{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    // flex-direction: row;
    margin: 0.5rem ;

}

.line p{
    text-align: center;
    cursor: pointer;
}

.strong_word{
    font-weight: bold;
    color: var(--secondary-color);
}



.edit_container{
    // width: 5rem;
    display: flex;
    justify-content: space-evenly;
}


