.main_container{
    min-height: 100vh;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    background: linear-gradient(to top left, var(--page-background-one), var(--page-background-two));
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow-page);
}

.background{
    background: linear-gradient(to top left, var(--background-color-one), var(--background-color-two));
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

}

.add_modal{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 500px;
}
