.float_button{
    border-radius: 100px;
    width: 4rem;
    height: 4rem;
    border: none;
    cursor: pointer;
    color:#fff;
    box-shadow: var(--box-shadow);
}

.add{
    background: radial-gradient(var(--main-color),var(--main-color-shadow));
}
