.page_container{
    width: 100%;
    min-height: 85vh;
    position: relative;
}

.buttons-container{
    display: flex;

    margin: 1rem auto;
}

.option-button{
    margin: auto;
    padding: 2rem;
    border-radius: 20px;
    border: none;
    background-color: var(--button-color);
    color: #fff;
    text-transform: uppercase;
}

.add_button{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
}



.export_button{
    width: 1.5rem;
    fill: var(--secondary-color);
    margin: 0 auto;
    cursor: pointer;
    border: none;
    background: transparent;
    display: flex;
}

.export_button:hover{
  transform:scale(1.1);
}

.export_button:disabled{
    fill: var(--disabled-color);
    cursor: not-allowed;
}

.export_button:disabled:hover{
  transform:scale(1);
}

@media (max-width: 500px) {
    .add_button{
        bottom: 1rem;
        right: 1rem;
    }
}
