.page_container{
    width: 100%;
    min-height: 85vh;
    position: relative;
}


.buttons-container{
    display: flex;
    
    margin: 1rem auto;
}

.option-button{
    margin: auto;
    padding: 2rem;
    border-radius: 20px;
    border: none;
    background-color: var(--button-color);
    color: #fff;
    text-transform: uppercase;
}

.add_button{
    position: fixed;
    bottom: 3rem;
    right: 3rem; 
}

.add_modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 500px;
}

@media (max-width: 500px) {
    .add_button{
        bottom: 1rem;
        right: 1rem;
    }
}