:root{
    --main-color:#f00;
    --background-color:#aaa;  
    --page-background:#fafafa;
}

*{
    padding: 0;
    margin: 0;
}


.background{
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
